body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	text-align:center;
	color:white;
	margin-bottom:10px;
}
.latest-news-section{
	background-color:white;
	width:30%;
	padding:20px;
	height:40%;
}
.main-article{
	background-color:white;
	text-align:center;
	width:30%;
	padding:20px;
	height:40%;
}
.pictorial-news-section{
	background-color:white;
	text-align:center;
	width:30%;
	padding:20px;
}
.container{
	display:flex;
	justify-content:center;
	gap:10px;
	padding:20px;
}
img{
  width:100%;
  border-radius:10px;
  margin-bottom:10px;
}